modules = ["docker"]
run = "docker run -p 8283:8283 -e OPENAI_API_KEY=$OPENAI_API_KEY -e LETTA_PG_URI=$LETTA_PG_URI letta/letta:latest"

[nix]
channel = "stable-24.05"

[ports]
localPort = 8283
externalPort = 8283

[workflows]

[[workflows.workflow]]
name = "Workflow Install"
mode = "sequential"
author = 39889194

[[workflows.workflow.tasks]]
task = "packager.installForAll"
